<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="appversion" value="100"/>
		<add key="appversionbuild_ios" value="11"/>
		<add key="UrlServices" value="https://francia-api.s-tech.com.vn"/>
		<add key="Waiting" value="0"/>
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="connStr" connectionString="Data Source=61.28.231.93;Initial Catalog=Audit_Francia;Persist Security Info=True;User ID=audit1;Password=@audit@GFF#; Pooling=false;Pooling=false;Encrypt=True;TrustServerCertificate=True;Connection Timeout=120" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="180" />
		<compilation targetFramework="4.5" debug="true"/>
		<customErrors mode="Off"/>
		<httpHandlers>
			<add verb="*" path="Login.ashx" type="FAuditService.Core.LoginHandler"/>
			<add verb="*" path="Time.ashx" type="FAuditService.Core.TimeHandler"/>
			<add verb="*" path="TimeOnline.ashx" type="FAuditService.Core.TimeOnline"/>
			<add verb="*" path="DownloadData.ashx" type="FAuditService.Handlers.DownloadDataHandler"/>
			<add verb="*" path="UploadData.ashx" type="FAuditService.Handlers.UploadDataHandler"/>
			<add verb="*" path="UploadFile.ashx" type="FAuditService.Handlers.UploadFileHandler"/>
			<add verb="*" path="UploadAudio.ashx" type="FAuditService.Handlers.UploadAudioHandler"/>
			<add verb="*" path="WorkingPlan.ashx" type="FAuditService.Handlers.WorkingPlanHandler"/>
			<add verb="*" path="UploadAttendant.ashx" type="FAuditService.Handlers.UploadAttendant"/>
			<add verb="*" path="Messager.ashx" type="FAuditService.ServiceMessage.MessagerHandler"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<!--<add namespace="Aca.NetCore.Core" />
        <add namespace="Aca.NetCore.Framework"/>-->
			</namespaces>

		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<handlers>
			<add verb="*" name="LoginHandler" path="Login.ashx" type="FAuditService.Core.LoginHandler"/>
			<add verb="*" name="TimeHandler" path="Time.ashx" type="FAuditService.Core.TimeHandler"/>
			<add verb="*" name="TimeOnline" path="TimeOnline.ashx" type="FAuditService.Core.TimeOnline"/>
			<add verb="*" name="DownloadDataHandler" path="DownloadData.ashx" type="FAuditService.Handlers.DownloadDataHandler"/>
			<add verb="*" name="UploadData" path="UploadData.ashx" type="FAuditService.Handlers.UploadDataHandler"/>
			<add verb="*" name="UploadFile" path="UploadFile.ashx" type="FAuditService.Handlers.UploadFileHandler"/>
			<add verb="*" name="UploadAudioHandler" path="UploadAudio.ashx" type="FAuditService.Handlers.UploadAudioHandler"/>
			<add verb="*" name="WorkingPlanHandler" path="WorkingPlan.ashx" type="FAuditService.Handlers.WorkingPlanHandler"/>
			<add verb="*" name="MessagerHandler" path="Messager.ashx" type="FAuditService.ServiceMessage.MessagerHandler"/>
			<add verb="*" name="UploadAttendant" path="UploadAttendant.ashx" type="FAuditService.Handlers.UploadAttendant"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_SMSService"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://chat.acacy.com.vn:1919/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SMSService" contract="ServiceSMS.SMSService" name="BasicHttpBinding_SMSService"/>
		</client>
	</system.serviceModel>
</configuration>