<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="connStr" connectionString="Data Source=27.71.233.159,53857;Initial Catalog=Audit_Francia;Persist Security Info=True;User ID=audit;Password=@audit@GFF#; Pooling=false;" />
	</connectionStrings>
	<appSettings>
		<add key="ExportFolder" value="D:\"/>
		<!--<add key="SourceUrl" value="D:\ExportFrancia\" />-->
		<add key="SourceUrl" value="D:\ExportFrancia\"/>
		<add key="UrlServices" value="https://francia.e-technology.vn:4074"/>
	</appSettings>
</configuration>